<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Machine Learning Enthusiast. Currently pursuing my master’s in Computer Science with a concentration in Machine Learning, at the George Mason University, Fairfax. How we perceive, understand and interact with the world is mediated by machines to a degree that was unexpected even ten years ago. The emphasizing of the creation of such intelligent machines that could work and act like humans and their requirement for the betterment of diurnal life has fascinated me to choose Computer Science, with a profound interest in Machine Learning, as my field of study. My goal is to have the experience, perspective, and the expertise required to make significant contributions to the Artificial Intelligence industry.
              </p>
        
            
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">November 25, 1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">paradkarvishwajeet@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">571-595-2604</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>