<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Master's of Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">M.S. in C.S.</div>
               <h4 class="category">George Mason University
               </h4>
               <ul>
                <li>
                  GPA: 3.67
                                  </li>
                                  <li>
                                    Relevant Coursework: CS 688 Machine Learning, CS 747 Deep Learning, CS 657 Mining Massive Datasets, CS 584 Data Mining, 
                                    CS 583: Analysis of Algorithms
                                  </li>
                                  
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering in Computer Engineering</div>
               <h4 class="category">Savitribai Phule Pune University
               </h4>
               <ul>
                <li> GPA: <b>3.7</b> </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      
      
  </div>